  .span8 {
    border-style: solid;
    border-width:1px;

  }
   .span7 {
    border-style: dashed;
    border-width:1px;

  }
   .span6 {
    border-style: dashed;
    border-width:1px;

  }
   .span5 {
    border-style: dashed;
    border-width:1px;

  }
   .span4 {
    border-style: dashed;
    border-width:1px;

  }

  p.pos {
    position: fixed;
    bottom: 25px;
    right: 35px;
    text-align: right;
    padding-right: 70px;
    width: 300px;

  }
  img.pos {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 25px;
    right: 35px;
    
  }

 
